# Project place file
/Packages
/selene.toml
/uicomponents.rbxm
/Build.cmd

# Moonwave
/node_modules
/build
/lib
/package-lock.json
/package.json
/.vscode

# W.I.P
/src/Components/Dropdown

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock
